body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#explorer {
    width: 15%;
    height: 80%;
    margin: 20px 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.folder {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 0;
    padding: 5px;
    display: inline-block;
    width: 100%;
    position: relative;
    cursor: grab;
    white-space: normal; /* Allow wrapping of text */
    box-sizing: border-box;
}

.folder-name {
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* .subfolders {
    display: none;
    margin-left: 10px;
} */

.file {
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 5px 0; /* Space between files */
    padding: 5px;
    position: relative;
    display: flex; /* Stack files vertically */
    align-items: center;
    max-width: 100%; /* Make sure it doesn't overflow */
    cursor: grab;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.file-name {
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.folder:hover, .file:hover {
    background: rgba(0, 255, 0, 0.1);
}

.folder-tool-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.folder-name {
    cursor: pointer;
}

.delete-folder-icon, .create-file-icon, #createFolderBtn {
    cursor: pointer;
}

.delete-file-icon {
    margin-left: auto; /* Push it to the right */
    cursor: pointer;
    text-align: center; /* Center in its own space */
}

.drag-image {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #aaa;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    pointer-events: none; /* Make sure it doesn’t capture mouse events */
}

.fileExplorerBtn {
    border-radius: 8px;
    margin: 3px;
    background-color: #2eeb83; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    cursor: pointer;
}

#uploadFileBtn, #uploadFolderBtn {
    width: 50%;
}

.fileExplorerBtn:hover {
    background-color: #1ace6b; /* Darker green */
}

#uploadBtns {
    display: flex;
    justify-content: space-between;
}