.motion-stack{
    color: #4C96FE;
}
.motion-reporter{
    color: #8EBDFF;
}
.looks-stack{
    color: #9965FF;
}
.looks-reporter{
    color: #C8ADFE;
}
.sound-stack{
    color: #CF62CF;
}
.sound-reporter{
    color: #DD91DD;
}
.events-hat{
    color: #CC9800;
}
.events-stack{
    color: #FFBF00;
}
.control-stack{
    color: #FFAA19;
}
.control-c{
    color: #FFAA19;
}
.control-cap{
    color: #FFAA19;
}
.control-hat{
    color: #E08E00;
}
.control-reporter{
    color: #FEBF51;
}
.sensing-reporter{
    color: #8CC8E2;
}
.sensing-stack{
    color: #5BB1D6;
}
.operators-reporter{
    color: #81CF81;
}
.variables-stack{
    color: #FF8C1A;
}
.lists-stack{
    color: #FF661A;
}
.lists-reporter{
    color: #FE8B52;
}
.pen-stack{
    color: #0FBD8C;
}
.string{
    color: #d60b37;
}
.num{
    color: #d60b37;
}
.variable{
    color: #FF8C1A;
}
.list{
    color: #FF661A;
}
.comment{
    color: #E4DB8C;
}
.my_blocks-hat{
    color: #FF4D6A;
}
.my_blocks-stack{
    color: #FF7D9E;
}
.my_blocks-reporter{
    color: #FF3D4A;
}
